.item-card {
  width: 320px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
}
.item-card img {
  width: 300px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.delete-btn {
  background-color: #f9994f;
  margin-bottom: 15px;
  color: white;
  font-weight: 500;
}
.delete-btn:hover {
  background-color: #f54254;
}
.order-text {
  text-align: center;
  color: #f9994f;
  font-size: 40px;
}
