.restaurant-text h1 {
  margin: auto;
  padding-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 45px;
  color: #1d1d1d;
}
.restaurant-text p {
  margin: auto;
  text-align: center;
  width: 40%;
}
