.hero-img {
  background: url(https://i.ibb.co/PCGvcs4/hero.jpg);
  background-repeat: no-repeat;
  background-size: 100vh 100%;
  background-repeat: no-repeat;
}
.hero-text {
  padding: 15%;
  /* margin-left: 10%; */
}
.hero-text h1 {
  /* color: #1d1d1d; */
  color: #ff7811;
  font-size: 35px;
  font-weight: bolder;
}
.hero-text p {
  color: #1d1d1d;
}
.submit-btn {
  background-color: #f9994f;
}
